@font-face {
    font-family: 'UbuntuLight';
    src: url('../public/fonts/Ubuntu-Light.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'UbuntuReg';
    src: url('../public/fonts/Ubuntu-Light.ttf');
    font-display: swap;
}

:root {
    --productInfoCardH: 30vw;
    --infoImgProductCard: 3svh;
    --basketCardTextFlex: 100%;
    --basketCardNumFlexBasis: 100%;
    --basketCardTextAlign: start;
    --basketCardWidth: 80vw;
    --smallSize: x-small; 
    --productCardContGap: 5vw;
    --productImgContH: 20vw;
    --productCardImgH: 15vw;
    --productCardH: 50vw;
    --productCardW: 40vw;
    --productCardM: 0;
    --contactsFloatingBtnMarginHome: 10svh;
    --contactsFloatingBtnMargin: 7svh;
    --contactsFloatingBtnMarginRight: 3svh;
    --homeContML: none;
    --homeCardH: 20svh;
    --homeCardW: 40vw;
    --homeCardContFD: column;
    --homeCardImgSize: 64px;
    --buyFormGap: 4svh;
    --buyFormTextFS: 3svh;
    --buyFormInputH: 5svh;
    --buyFormInputW: 34svh;
    --buyCheckboxTextFS: 2.6svh;
    --buyCheckboxSubTextFS: smaller;
    --buyCheckboxW: 2.4svh;
}

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.noDec {
    text-decoration: none;
    color: white;
}

.cont {
    position: relative;
    height: 100svh;
    /* background-size: cover;
    background-position: center center; */
    display: flex;
    flex-direction: column;
}

.homeContainer {
    padding-top: 5svh;
    margin-left: var(--homeContML);
    margin-right: var(--homeContML);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex:1;
}

.homeHeader {
    text-align: center;
    font-family: 'UbuntuReg';
}

.homeCardCont {
    flex:1;
    display: flex;
    flex-direction: var(--homeCardContFD);
    justify-content:space-around;
    align-items: center;
}

.homeCard {
    height: var(--homeCardH);
    width: var(--homeCardW);
}

.homeCard:hover {
background: rgba(255, 255, 255, 0.2);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
}

.homeCardImgCont {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeCardImg {
    width: var(--homeCardImgSize);
}

.homeCardHeader {
    text-align: center;
    font-family: 'UbuntuLight';
}

.homeCardHeaderAdvanced {
    margin-top: 5px;
    text-align: center;
    font-family: 'UbuntuLight';
    color: rgb(200, 200, 200);
}

.contactsCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'UbuntuLight';
}

.notextdecor {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.aboutHeader {
    margin-top: 5svh;
    text-align: center;
    font-family: 'UbuntuReg';
    font-size: x-large;
}

.aboutText {
    margin-top: 3svh;
    text-align: center;
    font-family: 'UbuntuLight';
    font-size: large;
}

.contactsFloatingBtn {
    z-index: 2;
    position: fixed;
    top: var(--contactsFloatingBtnMargin);
    left: var(--contactsFloatingBtnMarginRight);
    width: 64px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 32px;
}

.contactsFloatingBtnImg {
    width: 48px;
    height: 48px;
}

.homeMobileCardCont {
    flex:0.6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.catalogCardContHome {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.catalogCardCont {
    flex:1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.categoryCont {
    position: relative;
    padding-top: 16px;
    /* background-size: cover;
    background-position: center center; */
    background-attachment: fixed;
    color: white;
    min-height: 100vh;
}

.productCardCont {
    margin-top: 8svh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--productCardContGap);
}

.productCardOut {
    margin-right: var(--productCardM);
    margin-left: var(--productCardM);
    width: var(--productCardW);
    height: var(--productCardH);
    background: rgba(120, 0, 0, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
}

.productCard {
    margin-right: var(--productCardM);
    margin-left: var(--productCardM);
    width: var(--productCardW);
    height: var(--productCardH);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
}

.productCardPurchased {
    margin-right: var(--productCardM);
    margin-left: var(--productCardM);
    width: var(--productCardW);
    height: var(--productCardH);
    background: rgba(0, 114, 53, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
}

.productTextCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productCardImg {
    height: var(--productCardImgH);
}

.productImgCont {
    height: var(--productImgContH);
    display: flex;
    align-items: center;
    justify-content: center;
}

.productTitle {
    font-family: 'UbuntuReg';
    text-align: center;
    font-size: var(--defaultSize);
}

.productText {
    font-family: 'UbuntuLight';
    text-align: center;
}

.productNum {
    font-size: var(--smallSize);
}

.productPrice {
    font-family: 'UbuntuReg';
    text-align: center;
    font-size: var(--defaultSize);
}

.productOut {
    font-size: var(--defaultSize);
    color: rgb(255, 186, 186);
}

.productIn {
    font-size: var(--defaultSize);
    color: rgb(182, 255, 182);
}

.catFloatingBtn {
    z-index: 2;
    position: fixed;
    top: var(--contactsFloatingBtnMargin);
    right: var(--contactsFloatingBtnMarginRight);
    width: 64px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 32px;
}

.catFloatingBtnHome {
    z-index: 2;
    position: fixed;
    top: var(--contactsFloatingBtnMarginHome);
    right: var(--contactsFloatingBtnMarginRight);
    width: 64px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 32px;
}

.catFloatingBtnImg {
    position: relative;
    top: 2.5px;
    right: 1px;
    width: 40px;
    height: 40px;
}

.blurBG {
    background-image: url('../public/imgs/kamazHeaderBlur.png');
}

.clearBG {
    background-image: url('../public/imgs/kamazHeader.jpg');
}

.basketCont {
    position: relative;
    padding-top: 16px;
    /* background-size: cover;
    background-position: center center; */
    background-attachment: fixed;
    color: white;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.basketCenterTextCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basketCenterText {
    font-family: 'UbuntuReg';
    font-size: xx-large;
}

.basketCardCont {
    margin-top: 4svh;
    margin-bottom: 4svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basketCard {
    margin-top: 4svh;
    display: flex;
    padding: 2vw;
    width: var(--basketCardWidth);
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    align-items: center;
}

.basketCardDel {
    margin-top: 4svh;
    display: flex;
    padding: 2vw;
    width: var(--basketCardWidth);
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(120, 0, 0, 0.8);
    border-radius: 16px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    align-items: center;
}

.basketCardImg {
    width: 8svh;
    height: 8svh;
}

.basketCardTitle {
    text-align: var(--basketCardTextAlign);
    flex: var(--basketCardTextFlex);
    font-family: 'UbuntuReg';
    font-size: large;
}

.basketCardNum {
    text-align: var(--basketCardTextAlign);
    flex-basis: var(--basketCardNumFlexBasis);
    font-family: 'UbuntuLight';
    color: rgb(175, 175, 175);
}

.basketCountInputCont {
    flex-basis: 10%;
    text-align: var(--basketCardTextAlign);
}

.basketCountInput {
    font-family: 'UbuntuReg';
    font-size: large;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    color: white;
    background: none;
    width: 75px;
}

.basketCardDelete {
    width: 5svh;
    height: 5svh;
    color: red;
}

.basketBuyBtn {
    color: white;
    border: none;
    box-shadow: 0 4px 30px rgba(32,98,0,0.9);
    align-self: center;
    font-family: 'UbuntuReg';
    font-size: x-large;
    background: rgb(32,98,0);
    background: linear-gradient(45deg, rgba(32,98,0,0.8) 0%, rgba(57,163,96,0.8) 100%);
    border-radius: 16px;
    padding-top: .75svh;
    padding-bottom: .75svh;
    padding-right: 1.75svh;
    padding-left: 1.75svh;
    margin-top: 6svh;
    margin-bottom: 4svh;
}

.productDeleteBtn {
    color: white;
    border: none;
    box-shadow: 0 4px 30px rgba(98,0,0,0.9);
    align-self: center;
    font-family: 'UbuntuReg';
    font-size: x-large;
    background: rgb(98,0,0);
    background: linear-gradient(45deg, rgba(98,0,0,1) 0%, rgba(186,77,77,1) 100%);
    border-radius: 16px;
    padding-top: .75svh;
    padding-bottom: .75svh;
    padding-right: 1.75svh;
    padding-left: 1.75svh;
    margin-top: 6svh;
    margin-bottom: 4svh;
}

.categoryBasketBtnText {
    font-family: 'UbuntuReg';
    font-size: 22px;
}

.catFloatingBtnTextCont {
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 13px;
    left: 28px;
}

.basketSumText {
    margin-top: 4svh;
    font-family: 'UbuntuReg';
    font-size: xx-large;
}

.buyHeader {
    font-family: 'UbuntuLight';
    margin-top: 1svh;
    text-align: center;
    color: rgb(175, 175, 175);
    font-size: larger;
}

.buyFormCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--buyFormGap);
}

.buyFormText {
    font-family: 'UbuntuLight';
    font-size: var(--buyFormTextFS);
}

.buyFormInput {
    font-family: 'UbuntuLight';
    height: var(--buyFormInputH);
    width: var(--buyFormInputW);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgb(57, 57, 57);
    color: white;
}

.buyCheckboxText {
    font-family: 'UbuntuLight';
    font-size: var(--buyCheckboxTextFS);
}

.buyCheckboxSubText {
    text-align: center;
    font-family: 'UbuntuLight';
    font-size: var(--buyCheckboxSubTextFS);
    color: rgb(205, 205, 205);
}

.buyCheckbox {
    width: var(--buyCheckboxW);
    height: var(--buyCheckboxW);
}

.homeSearchInputCont {
    z-index: 1;
    position: absolute;
    top: 12svh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.catSearchInputCont {
    z-index: 1;
    position: absolute;
    top: 9svh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.homeSearchInput {
    font-family: 'UbuntuLight';
    color: white;
    width: 50vw;
background: rgba(255, 255, 255, 0.2);
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.homeSearchInput::placeholder {
    font-family: 'UbuntuLight';
    color: white;
}

.homeSearchImgCont {
    height: 32px;
    width: 32px;
    background: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-content: center;
}

.homeSearchImg {
    width: 26px;
}

.inputNoDec {
    position: relative;
    width: 100vw;
    color: white;
    background: none;
    border: none;
    font-family: 'UbuntuReg';
    font-size: xx-large;
    text-align: center;
}

.adminChangeProductCont {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex: 0.7;
    justify-content: space-around;
}

.fullCheckbox {
    height: 16px;
    width: 16px;
}

.spanBuyFormInputCont {
    display: block;
    writing-mode: unset;
    resize: both;
    color: white;
    font-family: 'UbuntuLight';
    padding-bottom: 1svh;
    min-width: var(--buyFormInputW);
    min-height: var(--buyFormInputH);
    max-width: 60vw;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgb(57, 57, 57);
}

.spanBuyFormInputCont:active {
    width: auto;
}

.spanBuyFormInputCont::after {
    color: white;
}

.infoImgProductCard {
    position: absolute;
    width: var(--infoImgProductCard);
    height: var(--infoImgProductCard);
    right: 7px;
    top: 7px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.productInfoCont {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.productInfoImgCont {
    height: var(--productInfoCardH);
    display: flex;
    align-items: center;
    justify-content: center;
}

.productInfoCardImg {
    height: var(--productInfoCardH);
}

@media screen and (orientation: landscape)  {
    :root {
        --productInfoCardH: 10vw;
        --infoImgProductCard: 2vw;
        --buyFormGap: 2vw;
        --buyFormTextFS: 1.5vw;
        --buyFormInputH: 2.5vw;
        --buyFormInputW: 26vw;
        --buyCheckboxTextFS: 2vw;
        --buyCheckboxSubTextFS: larger;
        --buyCheckboxW: 1.6vw;
        --basketCardTextFlex: 1;
        --basketCardNumFlexBasis: 10%;
        --basketCardTextAlign: center;
        --basketCardWidth: 80vw;
        --smallSize: medium; 
        --defaultSize: x-large;
        --productCardContGap: 1vw;
        --productImgContH: 12vw;
        --productCardImgH: 8vw;
        --productCardH: 25vw;
        --productCardW: 15vw;
        --productCardM: 4vw;
        --contactsFloatingBtnMarginHome: 1svh;
        --contactsFloatingBtnMargin: 1svh;
        --contactsFloatingBtnMarginRight: 1svh;
        --homeContML: 10%;
        --homeCardH: 50svh;
        --homeCardW: 20vw;
        --homeCardContFD: row;
        --homeCardImgSize: 128px;
    }
}

@media only screen {
    :root {
    --productImgContH: 20vw;
    }
}